<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377858334264-rs4e6quprr4p2jp2tgjr5s280v13n8rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377858334264-rs4e6quprr4p2jp2tgjr5s280v13n8rn</string>
	<key>API_KEY</key>
	<string>AIzaSyChelSYB053podGWCdOL2kc1GNbXMFV5UM</string>
	<key>GCM_SENDER_ID</key>
	<string>377858334264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.deepseed.deepSeed</string>
	<key>PROJECT_ID</key>
	<string>deepseed-3528d</string>
	<key>STORAGE_BUCKET</key>
	<string>deepseed-3528d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377858334264:ios:ccf4822b3b4e3a2afe90cd</string>
	<key>DATABASE_URL</key>
	<string>https://deepseed-3528d.firebaseio.com</string>
</dict>
</plist>